doctype html
html
  head
    title lim red
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css')
  body
    #heading
      h1.headingText Limited Reddit
      h2.headingSubtext Limit your reddit consumption

    block content
