doctype html
html
  head
    title Reddit Limiter
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css')

    // bower:css
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    // endbower

    // bower:js
    script(src='/bower_components/modernizr/modernizr.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/angular/angular.js')
    // endbower

    block pagecss
  body
    #heading
      h1.headingText Limit your Reddit
      h2.headingSubtext #{message}

    .container
      block content


    block pagejs

    p#footer A weekend project by Mike Zhang 
      a(href="https://github.com/bayofpigs") (Bayofpigs)
