doctype html
html
  head
    title Reddit Limiter
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css')

    // bower:css
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    // endbower

    block pagecss
  body
    #heading
      h1.headingText Limited Reddit
      h2.headingSubtext Beat your Reddit addiction

    .container
      block content

    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/angular/angular.js')
    // endbower

    block pagejs
