#loader {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.image {
  float: left;
  margin-right: 20px;
  height: 150px;
  display:block;
}

.description {
  margin-left: 50px;
  display: block;
}

.entry {
  overflow: auto;
}

.nsfw {
  color: red;
  border-style: solid;
  border-color: red;
  margin-right: 10px;
}

a:visited {
  color: #4b2f89;
}